<mat-toolbar>
  <button
  class="flex items-center justify-center p-2 rounded-full hover:bg-gray-200 focus:outline-none"
  aria-label="Example icon-button with menu icon"
  (click)="toggleSidenav()"
>
 <mat-icon>menu</mat-icon>
</button>
  <span>My Apps</span>
  <span class="example-spacer"></span>
  <!-- <div>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  </div> -->
    
</mat-toolbar>